<h1>Editing Comment</h1>

<%= render 'form', comment: @comment, url: painting_comment_path(@comment.painting_id, @comment) %>

<%= link_to 'Back to comment show', painting_comment_path(@comment.painting_id, @comment) %>
