<h1>New Comment</h1>
<h2>Painting: <%= Painting.find_by(id: @comment.painting_id).title %></h2>

<%= render 'form', comment: @comment, url: painting_comments_path(@comment.painting_id) %>

<%= link_to 'Back to Painting', painting_path(@comment.painting_id) %>
